@charset "utf-8";

/*

This is a reset stylesheet. I have used the reset stylesheet in the tutorial as a guide,
but have trimmed down the affected elements to what my pages currently use or plan to use, to speed up the site.



*/

/* Structural Styles */



/* Typographic Styles */

address, article, aside, blockquote, body, div, 
figcaption, figure, footer, h1, h2, h3, header, html, 
img, li, main, nav, ol, p, section, ul, video {
    background: transparent;
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}


